<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qi.management">

    <application>
        <activity android:name=".store.wedding_photography.comboslist.view.CombosListActivity"></activity>
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".store.store_info_management.StoreInfoManagementActivity" />
    </application>

</manifest>